APP_DEFAULT_LANGUAGE=en
APP_SUPPORTED_LANGUAGES=en,fr,de
NEXT_PUBLIC_APP_DEFAULT_LANGUAGE=en
NEXT_PUBLIC_APP_SUPPORTED_LANGUAGES=en,fr,de
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_API_URL=
REMOTE_IMAGE_PATTERNS=
REVALIDATE_SECRET=
NEXT_PUBLIC_APP_API_TOKEN=
NEXT_PUBLIC_GTM_ENV_PARAMS=
NEXT_PUBLIC_GTM_AUTH=
NEXT_PUBLIC_GM_ID=
NEXT_PUBLIC_GTM_PREVIEW=
NEXT_PUBLIC_GTM_COOKIES_WINDOW=
NEXT_PUBLIC_GTM_SCRIPT_URL=
NEXT_PUBLIC_RECAPTCHA_API_KEY=
NEXT_PUBLIC_SENTRY_DSN=
PREVIEW_SECRET=